<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-wrapper">
            <div class="nav-path">
                {{ index_current_path }}
            </div>
            <div class="nav-buttons">
                <a class="nav-button" href="{{ url_for('index', path=index_home_path) }}">Home</a>
                {% if not index_root_check %}
                    <a class="nav-button" href="{{ url_for('index', path=index_parent_path) }}">Up</a>
                {% endif %}
            </div>
        </div>
    </div>




    <div class="container">
        <h2>Folders</h2>
        <div class="grid-container">
            {% for item in index_folders %}
                <div class="item">
                    <a href="{{ url_for('index', path=(current_path ~ '/' ~ item|string)) }}">
                        {{ item }}
                    </a>"
                </div>
            {% endfor %}
        </div>

        <h2>Files</h2>
        <div class="grid-container">
            {% for item in index_files %}
                <div class="item_box">
                    {% if item.image_bool %}
                        <img src="{{ url_for('serve_file', filename=(current_path ~ '/' ~ item.name|string)) }}" class="thumbnail" alt="{{ item.name }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='fall_back_photo.jpg') }}" class="thumbnail" alt="file icon">
                    {% endif %}
                
                    <div class="item">{{ item.name }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>